
<section id="main-content">
	<section class="wrapper">
		<div class="form-w3layouts">
            <!-- page start-->
           
           
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                          Add Sub Category
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-cog" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal "  method="post" action="/category/InsertSubCategory" novalidate="novalidate">
                                  
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label col-lg-3" for="inputSuccess">Category</label>
                                        <div class="col-lg-6">
                                 
                                            <select class="form-control m-bot15" name="categoryId">
                                                <option value="">--Select Category--</option>
                                                <% 
                                                    for(var c of data){%> 
                                                        <option value="<%=c.id%>"><%=c.CategoryName%></option>
                                                        <%}
                                                %>
                                              
                                            </select>
                                            
                                        </div>
                                        </div>
                                   
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-3">Sub Category Name</label>
                                        <div class="col-lg-6">
                                            <input class="form-control " id="category" name="sub_category" type="text" >
                                        </div>
                                    </div>
                                 
                                   
                                  
                                   
                                  

                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button class="btn btn-primary"  type="submit" name="submit">Add Sub Category</button>
                                           
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </div>
</section>
